.testStyle {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testStyle{
  padding: 1rem;
  height: 30%;
  border: 1px solid #ccc;
  border-radius:12px;
}

.title {
  margin-top:15px;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.loginName,
.loginPsw
{
  display:flex;
  margin-bottom:10px;  
}

.inputLabel {
  color:black;
  margin-right:15px;
}

.username,
.userpsw
{
  border-color:grey;
  border-radius:4px;
  border-width:thin;
  background-color:white;
  height:1.4rem;
  color:black;
}

.loginPsw {
  margin-top:20px;
}


.forgetpsw {
  cursor: pointer;
  background-color:white;
  color:#3a7bc8;
  margin-top:20px;
  font-size:0.8rem;
  align-items:right;
  text-align:right;
}

.forgetpsw:hover {
  text-decoration: underline;
}

.loginEnter {
  width:8rem;
  border-radius:20px;
  background-color:rgb(46, 154, 255);
}