.profileBar {
  background-color: white;
  border-bottom:1px solid #DCDCDC;
  height:2rem;
  padding:7px;
  display:flex;
  justify-content: space-between;
  align-items: center; 
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index:1000;
}

.pageTitle {
  font-size: 17px;
  font-weight:700;
  margin:0;
}

.exitBtn {
  font-size: 27px;
  transform: rotate(-90deg);
  margin-right:5px;
}

/*page container*/
.pageContainer{
  padding:3.8rem 1rem 75px 1rem;/* 为底部*/
  background-color: #F8F8F8;
  min-height:100vh;
}

/*personal plate*/
.personalInfo{
  background-color: white;
  border-radius: 12px;
  border:2px solid #F1F1F1;
  padding: 1rem;
  display:flex;
  flex-direction: column; 
}

.infoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.infoLabel {
  color:#555555;
  font-weight: 700;
  flex-shrink: 0;
  text-align: left;
}

.infoValue {
  text-align: right;
  color: #333333;
  flex: 1;
  word-break: break-word;
}

/*company list*/
.list1 {
  background-color: white;
  border-radius: 12px;
  border:2px solid #F1F1F1;
  display:flex;
  padding:1rem;
  gap:1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.companyImg {
  height:47px;
  width:47px;
  border:1px solid #DDDDDD;
  border-radius: 7px;
  align-items: center;
}

.text {
  margin-top:3px;
}

.companyName {
  font-weight:700;
  font-size: 16px;
  color:#333333;
  text-align:left;
}

.companyUen {
  margin-top: 2px;
  color:#888888;
  text-align: left;
}