.navBar {
  padding:5px 10px;
  display:flex;
  border-bottom:1px solid #B2B2B2;
  height: 40px;
  align-items: center;
  justify-content: space-between
}

.returnBtn {
  cursor: pointer;
  color:#007AFF;
}

.navTitle {
  flex: 1;
  text-align: center;
  font-weight: 550;
  font-size: 16px;
  margin: 0;
}

.container {
  padding:0 1rem 0 1rem;
}

.codeSending {
  display:flex;
  padding:0;
  /*margin:0 auto;*/
  /*position: 'relative';*/
  margin-bottom:30px;
}

.enterEmail {
  border:2px solid #E3E3E3;
  border-radius:7px;
  padding:0.4rem;
  margin-right:1rem;
}

.sendcode {
  padding:0.3rem 0.7rem 0.3rem 0.7rem;
  width:170px;
  color:white;
  font-weight:700;
  font-size:14px;
  background-color:#00C26F;
  border-radius:6px;
}

.sendcode:disabled {
  background-color: #DFDFDF;
  border:3px solid #CCCCCC;
  cursor:not-allowed;
  color:#ADADAD;
}

.veritification,
.pswinput 
{
  padding:0.4rem;
  display:flex;
  border:2px solid #E3E3E3;
  border-radius:7px;
  margin: 0 auto;
  margin-bottom:18px;
}

.Resetpsw {
  width:100%;
  border-radius:13px;
  background-color:#00C26F;
  padding:1rem;
  margin-top:10px;
  font-size:16px;
  font-weight:700;
  color:white;
  box-shadow: -5px 10px 10px #D3D3D3;
}

.Resetpsw:active {
  box-shadow: -5px 10px 10px #BFBFBF;
}