.logo {
  max-width: 75%; 
  max-height: 75%; 
  height: auto;  

}

.title {
  font-size: 2rem;
  font-weight:700;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.footerlogin {
  position: fixed;      
  bottom: 3rem;
  width:100%;
  padding:0;
}

.loginButton {
  width:80%;
  border-radius:13px;
  background-color:#00C26F;
  padding:1rem;
  margin-top:10px;
  font-size:16px;
  font-weight:700;
  color:white;
  box-shadow: -5px 10px 10px #D3D3D3;
} 

.loginButton:active {
  box-shadow: -5px 10px 10px #BFBFBF;
}

.registerSign {
  display:flex;
  justify-content: center;
  margin-top: 10px;
}

.clickRegister {
  color:#00C26F;
}

.clickRegister:hover {
  text-decoration: underline;
}