.container {
  background: blueviolet;
  padding: 2rem;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius:1rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.loginButton {
  width:80%;
  border-radius:13px;
  background-color:#00C26F;
  padding:1rem;
  margin-top:10px;
  font-size:16px;
  font-weight:700;
  color:white;
  box-shadow: -5px 10px 10px #D3D3D3;
} 

.loginButton:active {
  box-shadow: -5px 10px 10px #BFBFBF;
}