/*navbar样式*/
.profileBar {
  background-color: white;
  border-bottom:1px solid #DCDCDC;
  height:2rem;
  padding:7px;
  display:flex;
  justify-content: space-between;
  align-items: center; 
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index:1000;
}

.pageTitle {
  font-size: 17px;
  font-weight:700;
  margin:0;
}

.addressBtn {
  font-size: 27px;
  margin-left:5px;
}

.pagecontainer {
  padding: 3.8rem 1rem 0 1rem; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.companyInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*用户图片*/
.personalImg {
  position: relative;
  width: 7rem;
  height: 7rem;
  align-items: center;
  margin-bottom: 1.5rem; 
}

.PersonalPic {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border:5px solid #E3E3E3;
  object-fit: cover;
}

.changepic {
  position: absolute;
  background-color: #E3E3E3;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -0.5rem;
  right: -0.5rem;
}

/*用户信息*/
.companyName {
  font-weight: 700;
  font-size:16px;
}

.employerUen {
  color:#9D9D9D;
  font-size:15px;
}

.reviewCount {
  color:#9D9D9D;
  font-size:15px;
}

.rating {
  display:flex; 
  align-items: center;
  margin-left:2rem;
}

.setRate {
  margin-left:10px;
}

/*如果没有任何job的信息*/
.jobInfo {
  
}

.loopBtn{
  background-color:transparent; ;
  color:#00C26F;
  font-size:20px;
}

.noDataDisplay {
  margin-top: 3rem;
}